server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: library-management
  datasource:
    url: jdbc:mysql://localhost:3306/library_db
    username: root
    password: your_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    root: INFO
    com.yourcompany: DEBUG